<div class="posts">
  <% if !(@posts == nil) %>
    <% @posts.each do |post| %>
      <section class="post">
        <div class="username">
          <%= link_to(post.user_name, user_path(@user)) %>
        </div>  
        <%= image_tag post.image_url, class: 'main-image' %>
        <div class="description">
          <p><strong>
            <%= Like.where(post_id: post).count %> likes
          </strong></p><br>
          <%= post.description %>
        </div>
        <%= link_to 'Show', user_post_path(@user, post) %>
      </section>
    <% end %>
  <% end %> 
</div>