<div class="posts">
  <section class="post">
    <p>
      <strong>User name:</strong>
      <%= @post.user_name %>
    </p>

    <p>
      <%= image_tag @post.image_url, class: 'main-image' %>
    </p>
    <p>
      <strong><%= Like.where(post_id: @post).count %> likes</strong>
    </p>
    <p>
      <strong>Description:</strong> 
      <%= @post.description %>
    </p>
    <!-- Likes  -->
<p> 
<% if current_user.present? && (current_user.likes.where(post_id: @post) == []) %>
    <%= link_to("Like", user_post_likes_path(post_id: @post.id), method: :post, class:"btn btn-dark") %>
<% elsif current_user.present? %>
  <%= link_to("Dislike", user_post_like_path(@user, @post), method: :delete, class:"btn btn-dark") %>
<% end %>
</p>
<!-- Likes  -->

<!-- Comments  -->
<% unless @post.comments == [] %>
  <h4>Comments:</h4>
<% end %>
<% @post.comments.each do |comment| %>
    <p><strong><%= comment.user_name %></strong>: 
      <%= comment.comment %>
      <% if current_user.email == comment.user_name %>
        <%= link_to 'Delete', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
<% end %>
<br/>
<!-- Comments  -->



<!-- Add a comment  -->
<h4>Add a comment:</h4>
<%= form_for([@user, @post, @post.comments.build]) do |f| %>
  <p>
    <%= f.hidden_field :user_name, value: current_user.email %>
  </p>

  <p>
    Comment:</br>
    <%= f.text_area :comment %> 
  </p>

  <p>
    <%= f.submit class:"btn btn-dark" %>  
  </p>
<% end %>

<!-- Add a comment  -->



<!-- Links  -->
<% if @user.id == current_user.id %>
<%= link_to 'Edit', edit_user_post_path(@user, @post) %> 
<% end %>
<%= link_to 'Back', user_posts_path(@user) %>
<!-- Links  --> 
  </section>
</div>
